<div class="container mt-5 mb-5">

    <!-- row 1 -->
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-bg-dark border-info mb-3">
                <div class="card-body position">
                    <div class="card-text">
                        <h4>Total de productos
                            <br> {{totalproduct}}
                        </h4>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-basket-shopping fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- sold products -->
        <div class="col-md-4">
            <div class="card product-box text-bg-dark border-info">
                <div class="card-body position">
                    <div class="text">
                        <h4> productos vendidos
                            <br>{{totalSoldProducts}}
                        </h4>
                    </div>
                    <div> 
                        <i class="fa-solid fa-cart-shopping fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- revinue -->
        <div class="col-md-4">
            <div class="card product-box text-bg-dark border-info">
                <div class="card-body position ">
                    <div class="text">
                        <h4> A pagar
                            <br>$ 200
                        </h4>
                    </div>
                    <div>
                        <i class="fa-solid fa-money-bill-wave fa-3x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- row 2 -->
    <div class="row mt-5">
        <div class="col-md-6 product-d">
            <div class="card">
                <div class="card-body">
                    <h5>Productos recientes (Mensualmente)</h5>
                    <table class="table table-sm mt-4">
                        <thead>
                            <tr>
                                <td>Imagen</td>
                                <td>Nombre del producto</td>
                                <td>Cantidad</td>
                                <td>Fecha</td>
                                <td>Precio</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of ProductList | paginate:{ itemsPerPage: 3, currentPage: p}">
                                <td><img [src]="product.img" alt="product img"></td>
                                <td>{{product.name}}</td>
                                <td>{{product.quantity}}</td>
                                <td>{{product.date}}</td>
                                <td>{{product.price}}</td>
                            </tr>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </tbody>
                    </table>
                    <!-- <pagination-controls></pagination-controls> -->
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5> Revenue Statistics</h5>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- row 3 -->
    <div class="row mt-5">
        <div class="col-md-7 product-d">
            <div class="card">
                <div class="card-body">
                    <h5>Productos vendidos (Mensuales)</h5>
                    <table class="table table-sm mt-4">
                        <thead>
                            <tr>
                                <td>Id de la Orden</td>
                                <td>Fecha</td>
                                <td>Cantidad de productos</td>
                                <td>Total a pagar</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tempList | paginate : {itemsPerPage: 3, currentPage: q, id:'q'}">
                                <td>#{{item.orderId}}</td>
                                <td>{{item.date}}</td>
                                <td>{{item.products}}</td>
                                <td><b>{{item.totalPrice}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="q = $event" id="q"></pagination-controls>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <h5>Estadisticas de ventas</h5>
                    <div class="row mt-4 mb-4 justify-content-center">
                        <button (click)="semanal()" class="btn d-btn">Semanal</button>
                        <button (click)="mensual()" class="btn d-btn">Mensualidad</button>
                        <button class="btn d-btn">Anual</button>
                    </div>
                    <canvas id="saleChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>