<div class="container">
    <div class="row">
        <div>
            <section>
                <h2>About me!</h2>

                <p>
                    My name is <strong>Hiram</strong> and I'm software engineer. <br>

                    I´m from Mexico. <br>
                    
                    I have bacheler in Mechatronic engineer with +2 years <br> of  experience working with Angular and Java. I enjoy <br> learn new tech. In this side I show you my habilities <br> with Angular in the front and Spring in the backend. <br>
                </p>
            </section>
        </div>


        <div>
            <a href="https://github.com/hiramhh" target="_blank" class="github-button">
                <i class="fa-brands fa-github fa-3x"></i>
            </a>

            <a href="https://www.linkedin.com/in/hiram-hernandez-250927203/" target="_blank" class="github-button">
                <i class="fa-brands fa-linkedin fa-3x"></i>
            </a>

        </div>
    
    </div>

</div>