<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink=''>Home</a>
                </li>
            </ul>

        </div>
    </div>
</nav>



<div 
class="scroll-container"
(scroll)="onPokedexScroll($event)"
#scrollId>
    <section>
        <button 
        [ngClass]="'no-hidden'"
        *ngIf="showGoUpButton"
        (click)="scrollTop()"
        type="button">Go up</button>
    </section>
    
    <section class="cardPokemon">
        <app-pokemon-card class="cards" *ngFor="let pokemon of pokemon"
        [pokemon]="pokemon"
        ></app-pokemon-card>
    </section>
</div>


