<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="filter col.md-3">
                            <div class="form-group">
                                <select (change)="category($event)" class="form-control form-control-sm">
                                    <option value="">Select Category</option>
                                    <option value="men's clothing">men's clothing</option>
                                    <option value="jewelery">jewelery</option>
                                    <option value="electronics">electronics</option>
                                    <option value="women's clothing">women's clothing</option>
                                </select>
                            </div>
                        </div>

                        <div *ngIf="showBrands" class="col-md-3">
                            <div class="form-group">
                                <select (change)="brands($event)" class="form-control form-control-sm">
                                    <option>By Brands</option>
                                    <option [value]="brand" *ngFor="let brand of productBrands">{{brand}}</option>
                                </select>
                            </div>
                        </div>

                        <div *ngIf="showColor" class="filter col-md-3">
                            <div class="form-group">
                                <select class="form-control form-control-sm">
                                    <option>By color</option>
                                    <option [value]="color" *ngFor="let color of colorList">{{color}}</option>
                                </select>
                            </div>
                        </div>

                        <div *ngIf="showSize" class="filter col-md-3">
                            <div class="form-control">
                                <select class="form-control form-control-sm">
                                    <option>By Size</option>
                                    <option [value]="size" *ngFor="let size of sizeList">{{size}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="row align-items-center">
                <app-card-product 
                class="col py-5 select-item" 
                (click)="selectItem(product.title, product.id)" 
                *ngFor="let product of filteredProductList" 
                [products]="product"
                ></app-card-product>
            </div>
        </div>


        <div class="col-md-5 mt-3 mb-3">
            <div class="card item-list">
                <h3 class="text-center">Your bucket</h3>
                <div class="card-body">
                    <div class="selectitem mt-2 pt-1" *ngFor="let item of selectProductList; let i=index">
                        <div class="row">
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <img [src]="item.image" class="list-order-img">
                            </div>
                            <div class="col-md-5 d-flex align-items-center">
                                <!-- <h5 class="title">{{item.name}}</h5>
                                <br> -->
                                <p>
                                    <b>Price: {{item.price}}</b>  
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group qty">
                                    <label>Quantity</label>
                                    <input type="number" (click)="quantity($event, i)" value="1" min="1" [max]="item.quantity" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button (click)="delete(i, item.$key)" class="btn mt-4 btn-danger">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="outer-div">
                <div class="pricing">
                    <p>
                        <b>Subtotal</b>
                        <span class="price">${{subTotal}}</span>
                    </p>

                    <p>
                        <b>Vat(10%)</b>
                        <span class="price">${{vat}}</span>
                    </p>

                    <p>
                        <b>Total:</b>
                        <span class="price">
                            <b>${{totalPrice}}</b>
                        </span>
                    </p>

                    <div class="row justify-content-center">
                        <button (click)="order()" class="save btn btn-sm pt-2 btn-primary">
                            <i class="far fa-save mr-2">Save</i>
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>

    

</div>