/* Estilos del boton */
.no-hidden{
    position: fixed;
    visibility: visible;
}

/* Estilos del scroll */

.scroll-container{
    height: 50em;
    overflow-y: auto;
    border: .1em, solid #ffde00;
}