<div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink='/pokemon'> Pokemones </a>
        </li>
        <li class="nav-item">
            <a routerLink='/sales'>Point of sale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link"></a>
        </li>
    </ul>
</div>


<router-outlet></router-outlet>
